SELECT
  lastdata.the_geom as the_geom,
  ST_AsGeoJSON(lastdata.the_geom) as coord,
  lastdata.the_geom_webmercator as the_geom_webmercator,
  lastdata.name::text as name,

  lastdata.abstract::text as abstract,
  lastdata.tags::text[] as tags,
  lastdata.typology::text as typology,
  lastdata.scopes::text[] as scopes,
  lastdata.contacts::json as contacts,
  lastdata.price_infos::text[] as price_infos,
  lastdata.organizer::text as organizer,
  lastdata.available_services::text[] as available_services,
  lastdata.capacities::text[] as capacities,
  lastdata.owner::text as owner,
  lastdata.media_resources::json as media_resources,
  lastdata.opening_time::text as opening_time,
  lastdata.order_by::integer as order_by,

  lastdata.updated_at::text as updated_at,
  lastdata.id_entity as id_entity,
  lastdata.category[1] as category
FROM <%= scope %>_students_pointofinterest_lastdata lastdata
WHERE
'29' != ANY(lastdata.category)
<% if(coord && coord.length === 2) { %>
  AND ST_Distance_Sphere(the_geom, ST_MakePoint(<%= coord[0] %>, <%= coord[1] %>)) <= <%= variable %> * 1000.0
<% } else {%>
  AND FALSE
<% }%>
