
<div class="legendContent">
  <h3><%=__('Porcentaje de bicicletas disponibles')%>:</h3>

  <div>
    <span>0</span>
    <div class="ml2 ramp bikes">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span>100%</span>
  </div>

<!--   <div class="moderate borderleft">
    <img class="mr5" src="/img/SC_icleyenda_cluster-v.png">
    <span class="text_icon regular"><%=__('Plazas libres')%></i></span>
  </div> -->


  <div class="borderleft">
      <span class="icon circle outOfService"></span>
      <span class="text_icon ml3 regular"><%=__('Est. fuera de servicio')%></span>

      <span class="icon circle ml15 empty moderate shadow"></span>
      <span class="text_icon ml3 regular"><%=__('Incidencia')%> <i>(<%= __('ondas') %>)</i></span>
  </div>
</div>
