<p><%=__('Este widget trata de mostrarnos cómo de dimensionado está nuestro sistema, el objetivo es detectar si está sobredimensionado o infradimensionado.') %></p>

<p><%=__('Cada punto corresponde a una recogida de un contenedor en el rango de fecha seleccionado. En el eje X se representa el tiempo transcurrido desde la recogida anterior, en el eje Y el nivel de llenado en el momento de la recogida.') %></p>

<p><%=__('Si tenemos puntos verdes significa que los contenedores se recogen con mucha frecuencia sin llegar a estar llenos. Si tenemos puntos naranjas o rojos significa que los contenedores deberían recogerse con mayor frecuencia.') %></p>

<p><%=__('El objetivo del gestor debe ser buscar un equilibrio adaptado a la realidad del sistema.') %></p>
